.token-toggler{
  display: block;
  position: absolute;
  z-index: 1;
  width: 90%;
  left: 5%;
  top: 10px;
  background: red;
  max-height: calc(100% - 40px) !important;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #e2ab4b;
  background: -webkit-linear-gradient(to bottom, #e2ab4b, #8e6317);  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(top, #e2ab4b, #8e6317);
  background: linear-gradient(to bottom, #e2ab4b, #8e6317); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 5px;
  border: 4px groove #404040;
  box-shadow: 0 0 4px 2px #ffcc81,inset 0 0 12px #c57500;
}
.token-toggler-header{
  display: table;
  position: relative;
  width: 100%;
  padding: 4px 0;
  overflow: hidden;
  cursor: pointer;
  color: #202020;


}

.token-toggler-footer{
  display: none;
  position: relative;
  width: 100%;
  padding: 10px 0;
  border-top: 4px groove #404040;
  cursor: pointer;
}
.token-name-active{
  position: relative;
  display: block;
  float: left;
  width: 30%;
  overflow: hidden;

}
.token-balance{
  position: relative;
  display: block;
  float: left;
  width: 70%;
  overflow: hidden;
}
p.myTokenBAl{
  width: 80%;
  overflow: hidden;
  white-space: pre-wrap;
  float: left;
}

.token-name-active img{

  height: 40px;
  border-radius: 50%;
}
span.toggler-arrow{
  position: absolute;
  right: 20px;
  font: 400 30px popfont1;
}
.token-in-list{
  position: relative;
  display: none;
  cursor: pointer;
  width: 100%;
  padding: 6px 0;
  border-top: 4px groove #404040;
}


.tokenName,.tokenWager,.playButton{
  float: left;

}
.tokenName{
  width: 30%;

}
.tokenWager{
width: 50%;
}
.playButton{
width: 20%;
}
/* Arrow
.token-toggler::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}*/
/* Transition
.token-toggler:hover::after {
  color: #f39c12;
}*/
