.box-sm{
  position: absolute;
  display: block;
  visibility: hidden;
  top: 5px;
  left: 50%;
  padding: 5px 10px;
  transform: translateX(-50%);
  z-index:2;
  background: #fff;
  color: #241800;
  border-radius: 5px;
  border: 2px outset #f09d00;
  box-shadow: inset 0 0 6px #000;
  animation: ping 2s linear;

}
@keyframes ping {
  0% {
    visibility: visible;
  }
  40%{
    transform: rotate(15deg);
  }
  60%{
    transform: rotate(-30deg);
  }
  100% {
    visibility: hidden;
  }
}
.box-sm p {
  margin: 5px 10px;
  font: 400 24px chatfont4;
  text-shadow: 0 0 2px #ffd78a;
}
.greenBox{
  border-color: #0f260a;
  box-shadow: inset 0 0 6px #050b03;
  background:#e6172b;
  background: linear-gradient(to right,#7ed66a,#307620);
}
.greenBox p{
  color: #fff;
  text-shadow: 0 0 2px #050b03;
}
.redBox{
  border-color: #2d0408;
  box-shadow: inset 0 0 6px #1d0305;
  background:#e6172b;
  background: linear-gradient(to right,#f5a0a8,#e6172b);
}
.redBox p{
  color: #fff;
  text-shadow: 0 0 2px #000;
}



ul.inBtnGrp{
  position: relative;
  display: block;
  text-align: left;
  padding: 0;
}
ul.inBtnGrp li{
  position: relative;
  display: inline-block;

  width: 22%;
}
ul.inBtnGrp li button{
  width: 100%;
  font: 400 22px chatfont4 ;
  color: #3c2812;
  background: #e79f34 ;
  border: 2px inset #ce995d;
  box-shadow: inset 0 0 8px #764a2a;
}





.popub-bg{
  position: fixed;
  top: 50px;
  width: 100vw;
  height: calc(100vh - 50px);
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.popup-box{
  position: relative;
  margin: 15px auto;
  width: 60%;
  max-height: calc(100% - 40px) !important;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #e2ab4b;
  background: -webkit-linear-gradient(to bottom, #e2ab4b, #8e6317);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #e2ab4b, #8e6317); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 5px inset #c57500;
  box-shadow: 0 0 4px 2px #ffcc81,inset 0 0 12px #c57500;
}
.close-pop{
  position: relative;
  display: block;
  float: right;
  margin: 0 10px 0 0 ;
  font: 400 42px chatfont4 ;
}
.close-pop:hover{
  color: #ddd;
}
@media only screen and (max-width : 768px) {
  .popup-box{
    width:90% !important;
  }
  .close-pop{
  font-size: 32px;
  }
}
@media only screen and (max-width : 992px) {
  .popup-box{
    width:80%;
  }
  .close-pop{
    font-size: 25px;
  }
}

.profile-box{
  display: none;
  text-align:center;
}
.profile-box h3{
  color: #0b0b22;
  font:600 35px chatfont5;
  text-shadow: 0 2px 4px #fff;
}
.profile-box h5 {
  color: #0b0b22;
  font:600 25px chatfont5;
  text-shadow: 0 1px 3px #fff;
}
.profile-box p{
  color: #0b0b22;
  font:400 14px chatfont5;
  text-shadow: 0 1px 2px #fff;
}

.profile-sm-box{
  position: relative;
  display: block;
  float: left;
  width: 30%;
  margin: 15px 8% 15px 12%;
  border: 4px groove #ff6511;
}
.profile-sm-box p:first-of-type{
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  padding: 20px;
  background: #ffae11;
  background: -webkit-linear-gradient(left, #ff6511, #ffae11,#ff6511);
  background: linear-gradient(to right, #ff6511, #ffae11,#ff6511);
}
.profile-sm-box p{
  font: 600 16px popfont1;

  color: #0b0c22;
  text-shadow: 0 1px 2px #999;
  margin: 0;
  padding: 10px;
}


.dividend-box{
  display: none;
  text-align: center;

}
.dividend-box img{

  margin: 10px auto;
  max-height: 70px;
}
.news-box{display: none;}
.news-box p{
  margin: 10px auto;
  text-align: center;
  font: 600 28px/30px chatfont5;
  color: #000;
  text-shadow: 0 0 1px #999;
}
.news-box li{
  color: #000;
  font: 400 14px/28px popfont1;
}
.poolBox{
  position: relative;
  display: block;
  width: 80%;
  border: 4px groove #b87f00;
  padding: 20px 0;
  margin: 10px auto;
}
p.infopoolTrx{
  font: 400 38px chatfont4 ;
  text-shadow: 0 0 4px #000;
}
p.poolTrx{
  font: 400 28px chatfont4 ;
  text-shadow: 0 0 4px #000;
}
.mined,.frozen,.unfreeze{
  display: block;
  position: relative;
  width: 20%;
  float: left;
  text-align: center;
  margin: 20px auto;
  font: 400 18px chatfont4 ;
  color: #fff;

}
.mined{
  margin-left: 10%;
}
.frozen{
  margin: 20px 10%;
}
.mined button,.frozen button,.unfreeze button{
  width: 100%;
  background: #e65c00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 5px 0;
  color: #fff;
  font: 400 16px popfont1 ;
  border: 2px inset #ffa751;
  text-shadow: 0 0 6px #000;

}
.mined button:hover,
.frozen button:hover,
.unfreeze button:hover{
  background: -webkit-linear-gradient(to left, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.mined button:focus,
.frozen button:focus,
.unfreeze button:focus{
  transform: translateY(5px);
}
.mined input,.frozen input,.unfreeze input{
  width: 100%;
  background: #ffe259;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  margin-bottom: 10px;
  border: 4px groove #b87f00;
  text-shadow: 0 1px 1px #000;
  cursor: not-allowed;
}
p.freezingInfo{
  position: relative;
  display: block;
  width: 100%;
  float: left;
  font: 300 13px/16px popfont1;
  color: #ddd;
}
@media only screen and (max-width : 768px) {
  .dividend-box p{
    font: 400 15px/20px popfont1;
  }
  .dividend-box img{

    margin: 10px auto;
    max-height: 50px;
  }
  p.infopoolTrx{
    font: 400 28px popfont1 ;
  }
  p.poolTrx{
    font: 400 20px popfont1 ;
  }
  .mined,.frozen,.unfreeze{
    width: 80%;
    margin: 10px 10% 5px 10%;
    font: 400 18px popfont1 ;
  }

}


/********************************/
.unfreezeApprove-box{
  display: table;
  position: relative;
  visibility: hidden;
  width: 90%;
  margin: 20px 5% ;
  background: rgba(0,0,0,.5);
}
.unfreezeApprove-box p,.unfreezeApprove-box span{
  color: #ffffff;
  text-shadow: 0 1px 1px #000;
  font: 400 16px/19px popfont1;
}
.unfreezeApprove-left,.unfreezeApprove-right{
  display: table;
  float: left;
  width: 50%;
  margin-top: 10px;
  padding: 15px 0;

}
.unfreezeApprove-right button{
  visibility: hidden;
margin: 5px auto;
font: 400 14px popfont1;
color: #3c2812;
background: #e79f34 ;
border: 2px inset #ce995d;
box-shadow: inset 0 0 8px #764a2a;
}
.unfreezeApprove-right button:focus{
  transform: translateY(5px);
}




/************************/
.popup-info-panel{
  position: absolute;
  display: none;
  width: 80%;
  top: 20px;
  z-index: 3;
  text-align: center;
  left: 10%;
  border-radius: 6px;
  border: 3px groove #775311;
}
.popup-info-panel-head{
  padding: 6px 0;
  font: 400 16px popfont1;
  border-radius: 6px 6px 0 0 ;
  background: #ff6511;
  background: linear-gradient(to right, #ff6511, #ffae11);
}
.popup-info-panel-head span{
  float: right;
  margin-right: 10px;
  font: 500 20px popfont1;
  cursor: pointer;
}
.popup-info-panel-head span:hover{
  color: #ddd;

}
.popup-info-panel-body{
  padding: 10px 0;
  font: 400 16px popfont1;
  background: #df9c1f;
}

.popup-info-panel-body button{
  font: 400 22px popfont1;
  color: #3c2812;
  background: #e79f34 ;
  border: 2px inset #ce995d;
  box-shadow: inset 0 0 8px #764a2a;
  margin-bottom: 15px;
}
.popup-info-panel-body button:focus{
  transform: translateY(5px);
  box-shadow: 0 0 2px 2px #fff;
}

/**profile box table*/
table.profileTable{
  position: relative;
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  text-align: center;
}
table.profileTable th{
  color: #0b0c22;
  font: 600 16px hemihead;
}
table.profileTable th,table.profileTable td{
  text-align: center;

}
.profileTable tbody tr{
  border: 4px groove #202020;

}


.news-social{
  position: relative;
  display: block;
  width: 90%;
  margin: 10px 5%;
}
.rank-box{
  display: none;
      color: #fff;
      text-align: center;

}
.dum{
  position: relative;
  display: block;
  width: 10px;
  z-index: 1;
  height: 500px !important;
}
p.rank-head{
  margin-top: 10px;
  font: 600 36px hemihead;
  text-shadow: 2px 4px 8px #000;
}
p.quoteForTop{
  font: 600 26px chatfont4;
  text-shadow: 1px 3px 5px #000;
}
table.rankTable{
  position: relative;
  width: 100%;

  margin: 10px 0;
  text-align: center;
}
table.rankTable th{
  color: #0b0c22;
  font: 600 16px chatfont5;
  text-align: center;
}
table.rankTable thead{

  border-bottom: 3px groove #999;
}
table.rankTable tbody{
  min-height: 60vh;
}

table.rankTable tbody tr{
  width: 100%;
  color: #0b0c22;
  font: 600 14px chatfont5;
  border-bottom: 3px groove #999;
}

table.rankTable span{
  background: #DA4453;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
box-shadow: inset 0 0 2px #000;
  padding: 5px;
  width: 100% !important;
  border-radius: 5px;
  color: #ffffff;
  box-shadow: inset 0 0 5px #000;
  text-shadow: 1px 2px 4px #000;
}
table.rankTable tr:nth-of-type(1) span{
  font-size: 28px;
  padding: 5px 12px;
box-shadow: inset 0 0 8px #000;
text-shadow: 1px 2px 6px #000;

}
table.rankTable tr:nth-of-type(2) span{
  font-size: 25px;
  padding: 5px 10px;
box-shadow: inset 0 0 7px #000;
text-shadow: 1px 2px 4px #000;


}
table.rankTable tr:nth-of-type(3) span{
  font-size: 22px;
  padding: 5px 8px;
box-shadow: inset 0 0 6px #000;
text-shadow: 1px 2px 3px #000;

}
table.rankTable tr:nth-of-type(4) span{
  font-size: 20px;
  padding: 5px 8px;
box-shadow: inset 0 0 4px #000;
text-shadow: 1px 2px 3px #000;
}
table.rankTable tr:nth-of-type(5) span{
  font-size: 18px;
  padding: 5px 8px;
box-shadow: inset 0 0 3px #000;
text-shadow: 1px 2px 3px #000;

}
table.rankTable tr:nth-of-type(6) span{
  padding: 5px 8px;
}
table.rankTable tr:nth-of-type(7) span{
  padding: 5px 8px;
}
table.rankTable tr:nth-of-type(8) span{
  padding: 5px 8px;
}
table.rankTable tr:nth-of-type(9) span{
  padding: 5px 8px;
}
table.rankTable tr:nth-of-type(1) td{
  font-size: 28px;
  color: #872137;
}
table.rankTable tr:nth-of-type(2) td{
  font-size: 25px;
  color: #732133;
}
table.rankTable tr:nth-of-type(3) td{
  font-size: 22px;
  color: #43141e;
}
table.rankTable tr:nth-of-type(4) td{
  font-size: 20px;
  color: #2f0e15;
}
table.rankTable tr:nth-of-type(5) td{
  font-size: 18px;
  color: #240a10;
}

@media only screen and (max-width : 480px) {
  p.rank-head{
    font: 600 30px hemihead;
    text-shadow: 2px 4px 8px #000;
  }
  p.quoteForTop{
    font: 600 26px hemihead;
    text-shadow: 1px 3px 5px #000;
  }
  table.rankTable tr td:nth-of-type(1){
   width: 10% !important;
  }
  table.rankTable tr td:nth-of-type(2){
    width: 10px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;

  }
  table.rankTable tr td:nth-of-type(3){
    width: 40%;
  }
  td.chopCellRank{
    max-width: 10px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    font-size: 0.8em;
  }
}


/**************/
.ref-box{
  display: none;
  text-align: center;
}
p.Refferal-head{
  margin-top: 10px;
  font: 600 36px hemihead;
  text-shadow: 2px 4px 8px #000;
}
.ref-box input{
  width: 40%;
  background: #ffe259;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  color: #0b0c22;
  border: 4px groove #b87f00;
  text-shadow: 0 1px 1px #bbb;
  cursor: not-allowed;
}
.myRefDiv{
  display: block;
  position: relative;
  width: 70%;
  margin: 10px auto;
}
.myRefDiv input{
  width: 70%;
}
.myRefDiv button{
  width: 28%;
  background: #e65c00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 5px 0;
  color: #fff;
  font: 400 16px popfont1 ;
  border: 2px inset #ffa751;
  text-shadow: 0 0 6px #000;
}
.myRefDiv button:hover{
  background: -webkit-linear-gradient(to left, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.refInfo{
  display: block;
  position: relative;
  width: 90%;
  margin: 50px auto;
}
.refInfo-item{
  display: block;
  position: relative;
  width: 45%;
  float: left;
}
.refInfo-item input{
  width: 100%;
}
.earnedByRef{
  display: block;
  position: relative;
  width: 45%;
  margin: 20px auto;
}
.earnedByRef input{
  width: 100%;
}
p.refDet{
  width: 70%;
  margin: 10px auto;

}
@media only screen and (max-width : 480px){
  .refInfo-item{
    float: none;
    margin: auto;
    width: 80%;
  }
  .earnedByRef{
    width: 72%;
  }
  p.Refferal-head{
    font-size: 30px;
    text-shadow: 2px 4px 8px #000;
  }
  p.quoteForTop{
    font: 400 20px chatfont4;
  }
  .myRefDiv {
    width: 90%
  }
  .myRefDiv input{
    width: 100%;
  }
  .myRefDiv button{
    margin-top: 10px;
    width: 40%;
  }

}


/***************************/
.about-box{
  display: none;
}
.about-box p{
  text-align: center;
}
.about-box li{
  color: #000;
  font: 400 14px/28px popfont1;
}
