Body {
    background-color:  #ffcc33;
}
.cut {

  width: 170px;
  height: 170px;
  border: 5px solid gold;
  padding: 0px;
  margin: 20px;
  display: inline-block;
  text-align: center;
  background-color: #ffb347;

}
img {
  width: 170px;
  height: 170px;

}

h1 {
    text-align: center;
    padding:10px;

}

.center {
    text-align: center;
}

.center2 {
    
}

.distance2 {
  margin-left: 150px;
}

.distance {
  margin-left: 150px;
}

#distance {
  margin-left: 10%;
  position: relative;
  padding-right: 5%;

}

.fix {
  position: relative;
  margin-left: 50px;

}

.fa-telegram {

  color:#0088cc;
}

.fa-twitter {
  color: #00acee;
}

@media only screen and (max-width : 480px) {
  .distance {
    display: inline-block;
    margin-left: 50px;
    
  }
  .fix {
   margin-left: 0;
   padding-right: 20%;
  }
  
}

@media only screen and (min-width: 480px) and (max-width : 768px) {
  .distance {
    display: inline-block;
    margin-left: 50px;
    
  }
  .fix {
   margin-left: 0;
   padding-right: 20%;
  }
  
  @media only screen and (min-width: 1920 x 1080) {
    .distance {
      display: inline-block;
      margin-left: 0px;
      
    }
    .fix {
     margin-left: 0;
     padding-right: 0px;
    }
}
