:root{
  --blue-dark: #0f0c29;
  --blue-light: #302b63;
  --blue-faded: #24243e;
  --num-dis-panel: #fcb605;
  --yellow-orange:#CC6600;
  --yellow-dark: #FF9900;
  --mainpanel-col: #fca100;
  --blue-for-span:#00d;
  --green-for-span: #3ef700;
  --red-for-span:#f70000;
  --grey-for-span:#e1e1e1;
  --blue-for-button:#000066;
  --green-for-button: #2db300;
  --red-for-button:#b30000;
  --grey-for-button:#a6a6a6;
  --metalic-golden: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE and Edge */
*{
  -ms-overflow-style: none;
}


.main-game-panel{
  position: relative;
  display: block;
  width: calc(75% - 5px);
  /* for fallback  */
  background: var(--mainpanel-col);
  background-image: -webkit-linear-gradient(to bottom, #f6ab03, #f8af05, #fab408, #fbb80b, #fdbd0e);
  background-image: linear-gradient(to bottom, #f6ab03, #f8af05, #fab408, #fbb80b, #fdbd0e);
  margin-left: calc(25% + 2px);
  margin-top: 0;

  overflow: hidden;
}
.main-num-panel{
  position: relative;
  display: block;
  top: 30px;
  width: 100%;
  padding: 8px 3% 8px 3%;
  overflow-x: hidden;
  border: 4px groove #d17e02;
  border-left: none;
  border-right: none;
  background: var(--metalic-golden);
  /* background: var(--num-dis-panel);
  box-shadow: inset 4px 5px 13px #d17e02,inset -4px -5px 13px #d17e02; */
}
.main-num-box{
  position: relative;
  display: table;
  left: 50%;
  transform: translateX(-50%);
  overflow-x: scroll;
  white-space: nowrap;
  text-align: center;

}
span#left,span#right{
  position: absolute;
  display: block;
  height: 100%;
  width: 6%;
  z-index: 1;
  top: 0;

}
span#left{
  left: 0;
background: linear-gradient(to left,rgb(209, 126, 2,0) 0%, #FEDB37 100%);
}
span#right{
  right: 0;
background: linear-gradient(to left, #5d4a1f 0%,rgb(209, 126, 2,0) 100%);
}

@media only screen and (min-width : 768.1px) and (max-width : 992px) {
  .main-game-panel{
    width: calc(67% - 5px);
    margin-left: calc(33% + 2px);

  }

}
.bettingBox{

  position:relative;
  display: block;
  width: 100%;
  top: 22px;


}
.color-picker{
  position: relative;
  display:block;
  width: 94%;
  margin: 0 2%;
  white-space: nowrap;

}

.color-picker button{
  position: relative;
  display: inline-block;
  width: 25%;
  text-align: center;
  color: #fff;
  background: transparent;
  font: 600 30px hemihead;
  padding: 6px;
  text-shadow: 0 2px 4px #000;
  border-radius: 5px;
  cursor: pointer;
}

.color-picker button:nth-of-type(1){
  border: 2px groove var(--grey-for-button);
  box-shadow: inset 3px 3px 5px var(--grey-for-button),inset -3px -3px 5px var(--grey-for-button);
}
.color-picker button:nth-of-type(2){
  border: 2px groove var(--blue-for-button);
  box-shadow: inset 3px 3px 5px var(--blue-for-button),inset -3px -3px 5px var(--blue-for-button);
}
.color-picker button:nth-of-type(3){
  border: 2px groove var(--green-for-button);
  box-shadow: inset 3px 3px 5px var(--green-for-button),inset -3px -3px 5px var(--green-for-button);
}
.color-picker button:nth-of-type(4){
  border: 2px groove var(--red-for-button);
  box-shadow: inset 3px 3px 5px var(--red-for-button),inset -3px -3px 5px var(--red-for-button);
}


.color-picker button:nth-of-type(1):hover{
  background: var(--grey-for-span);
}
.color-picker button:nth-of-type(2):hover{
  background: var(--blue-for-span);
}
.color-picker button:nth-of-type(3):hover{
  background: var(--green-for-span);
}
.color-picker button:nth-of-type(4):hover{
  background: var(--red-for-span);
}
.color-picker button:nth-of-type(1).selected{
  background: var(--grey-for-span);
}
.color-picker button:nth-of-type(2).selected{
  background: var(--blue-for-span);
}
.color-picker button:nth-of-type(3).selected{
  background: var(--green-for-span);
}
.color-picker button:nth-of-type(4).selected{
  background: var(--red-for-span);
}




.lower-main-box{
  position: relative;
  display: table;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 24px;
  background: #ffb347;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #ffcc33, #ffb347);  /* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(top, #ffcc33, #ffb347);
background: linear-gradient(to bottom, #ffcc33, #ffb347); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.betinfo{
  position: relative;
  display: inline-block;
  width: 96%;
  margin: 20px 2%;
  white-space: nowrap;

  background: rgba(0, 0, 0, 0.4);
}
.betinfo-smbox{
  position: relative;
  display: inline-block;
  width: 30%;
  margin: 10px 1.6%;
  text-align: center;
}
.betinfo-smbox p{
  position: relative;
  display: block;
  padding: 4px;
  margin-bottom: 0;
  color: #fff;
  text-shadow: 0 0 2px #000;
}
.betinfo-smbox  span{
  position: relative;
  display: block;
  color: #ffffff;
  text-shadow: 0 0 2px #000;
}


.lower-left p,.lower-left span,.lower-right p,.lower-right span{
  color: var(--blue-dark);
  font: 400 14px chatfont4;
}



/*********************/
@media only screen and (min-width : 992px) {
li.trophy-icon {visibility: visible; width: auto;}
.right-side {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 6;
  width: 40%;
}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
  .bettingBox{
    top: 25px;
  }
  .color-picker button{
    font-size: 20px;
  }
  .betinfo{
    width: 96%;
    margin: 10px 2%;
    white-space: nowrap;
    border-radius: 6px;
  }
  .betinfo-smbox{
    width: 30%;
    margin: 10px 1.6%;
  }
  .bottom-panel-head-list li{
    margin: 8px 5px;
  }
}

@media only screen and (max-width : 768px){
  .main-game-panel{
    width: 100%;
    margin-left: 0;

  }
}
/* balance animation */
p.roulette-balDeduct{
  position: absolute;
  display: block;
  visibility: hidden;
  top: -10px;
  left: 18%;
  font: 400 14px/16px popfont1;
  text-shadow: 0 1px 1px #000;
  color: red;
  -webkit-animation: bal-goUp 1s linear;
          animation: bal-goUp 1s linear;
}
@-webkit-keyframes bal-goUp {
  0%{
    top: -15px;
  }
  66% {

    visibility: visible;
  }
  100% {
    top: -20px;
    visibility: hidden;
  }
}
@keyframes bal-goUp {
  0%{
    top: -15px;
  }
  66% {

    visibility: visible;
  }
  100% {
    top: -20px;
    visibility: hidden;
  }
}
p.roulette-balOnWin{
  position: absolute;
  display: block;
  visibility: hidden;
  left: 18%;
  font: 400 14px/16px popfont1;
  text-shadow: 0 1px 1px #000;
  color: rgb(84, 240, 84);
  -webkit-animation: roll-slideDown 1s linear;
          animation: roll-slideDown 1s linear;
}
@-webkit-keyframes roll-slideDown {
  from {
    top: -20px;
    visibility: visible;
  }
  to {
    top: -5px;
    visibility: hidden;
  }
}
@keyframes roll-slideDown {
  from {
    top: -20px;
    visibility: visible;
  }
  to {
    top: -5px;
    visibility: hidden;
  }
}
