.meter{
  position: relative;
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 5px !important;
  height: 40px;
  border-radius: 15px;
  background: #ffe259;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255), inset 0 -2px 6px rgba(0, 0, 0);
}
.progress{
  position: relative;
  display: block;
  width: 18%;
  border-radius: 10px;
  height: 30px;
  background: #e65c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
box-shadow: inset 0 0 8px #000;
}
.meter p{
  position: absolute;
  z-index: 1;
  left: 40%;
  margin-top: 4px;
  transform: translateX(-50%);
  color: #fff;
  font: 400 15px popfont1 ;
  text-shadow: 0 0 2px #000;

}
