/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}


* {
  box-sizing: border-box;
  outline: none;
  -ms-overflow-style: none;
}

body {
  position: relative;
  display: block;
  background: #9c8520;
  color: #fff;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif ;
  font-weight: 400 ;
  line-height: 24px ;
  background: #af7614;

}
.mainPanel{
  display: block;
  position: relative;
  margin-top: 50px;
  padding: 0;
  background: #3d3003;
  overflow-X: hidden;


}
.navigation{
  position: fixed;
  display: block;
  width: 100vw;
  height: 50px;
  top: 0;
  background: #63460e;
  z-index: 5;
}
.navigation img{
  position: relative;
  display: block;
  float: left;
  margin: 5px 20px;
  max-height: 40px;

}
ul.nav-list{
  float: left;
  margin-left: 10%;

}
ul.nav-list li{
  display: inline-block;
  position: relative;
  margin: 10px;
  font-size: 30px;
}

 .userBtn button{
font: 400 22px popfont1;
color: #3c2812;
background: #e79f34 ;
border: 2px inset #ce995d;
box-shadow: inset 0 0 8px #764a2a;
}
ul.barsIcon{
  float: right;
  position: relative;
}
ul.barsIcon li{
  float: left;
  position: relative;
  list-style-type:none;
  margin: 10px;
  font-size: 30px;
}
ul.barsIcon li.bar-icon{
  visibility: hidden;
}

.middle-side{
  margin-right: 1.5px;
  margin-left: calc(25% + 1.5px);
width: calc(50% - 4px);
background: #9c8520;  /* fallback for old browsers */

}
.middle-side,.right-side{
  display: block;
  position: relative;
  float: left;
  text-align: center;
height: calc(100vh - 50px);
}
.left-side{
  display: block;
position: fixed;
text-align: center;
width: 25%;
height: calc(100% - 50px);
background: #ffe259;  /* fallback for old browsers */
background-image: -webkit-linear-gradient(left, #9c8520, #9b811b, #9a7d15, #98780f, #977408);
background-image: linear-gradient(to right, #9c8520, #9b811b, #9a7d15, #98780f, #977408);

}
.chat-head{
  background: #ff6511;
  background: -webkit-linear-gradient(left, #ff6511, #ffae11);
  background: linear-gradient(to right, #ff6511, #ffae11);
}
.right-head{

  background: #ff6511;
  background: -webkit-linear-gradient(right, #ff6511, #ffae11);
  background: linear-gradient(to left, #ff6511, #ffae11);
}

.chat-head p,.right-head p{
  margin: 0;
  font-size: 20px;
  padding: 5px;

}
.chat-body{
  height: calc(100% - 120px);
  overflow-y: scroll;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);

}
.msg{
  width: 80%;
  padding: 0;
  background: #c48603;
  background-image: -webkit-linear-gradient(bottom, #bd740a, #ce860a, #df9a0b, #eead0c, #fdc20e);
  background-image: linear-gradient(to top, #bd740a, #ce860a, #df9a0b, #eead0c, #fdc20e);
  margin-top: 15px;
  box-shadow: inset 0 0 8px #fcc653;
  border: 3px inset #815902;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.msg p{
  text-align: left;
  color: #352215;
  font: 300 14px/20px chatfont3 !important;
  -ms-word-break: normal;
  word-break: normal;
  margin: 0;
  padding: 3px 10px;
  text-shadow: 0 0 2px #b7784e;
}

.leftMsg {
  float: right;
}

.rightMsg {
  float: left;
}
.textmsgBox textarea{
  height: 90px;
  width: 100%;
  background: #4d2300;
  outline: none;
  border: none;
  cursor: text;
  padding: 16px;
  font-size: 16px;
  text-shadow: 1px 1px 2px black;
  box-shadow: inset 0 0 8px 3px #a24900;
  color: #fff;
  font: 500 15px/19px chatfont4;
}
textarea:hover {
  cursor: text;
}

.send_box textarea:focus {
  cursor: text;
}


textarea::-webkit-input-placeholder {
  text-align: left;
  top: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  color: #fff;
  font: 300 14px chatfont3;
}


textarea::-moz-placeholder {
  text-align: left;
  top: 50%;
  transform: translateY(50%);
  color: #fff;
  font: 300 14px chatfont3;
}


textarea:-ms-input-placeholder {
  text-align: left;
  top: 50%;
  transform: translateY(50%);
  color: #fff;
  font: 300 14px chatfont3;
}


textarea::placeholder {
  text-align: left;
  top: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  color: #fff;
  font: 300 14px chatfont3;
}
button.textareaBtn{
  position: absolute;
  display: block;
  bottom: 3px;
  right: 4px;
  z-index: 1;
  background: none;
  border: none;
}

.middle-top{
  width: 100%;
  height: 50%;
  overflow: hidden;
background-image: -webkit-linear-gradient(to bottom, #f6ab03, #f8af05, #fab408, #fbb80b, #fdbd0e);
background-image: linear-gradient(to bottom, #f6ab03, #f8af05, #fab408, #fbb80b, #fdbd0e);



}
 .boxForNum{
  display: block;
  position: absolute;
  width: 50%;
  height: 150px;
  top: 25%;
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.prediction,.lucky-number{
  display: block;
  position: absolute;
  width: 50%;

  border-radius: 3px;
  color: #000;
  padding: 5px;
box-shadow: inset 0 0 3px #000,inset 0 0 8px #644108;
background: #FFB75E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ED8F03, #FFB75E);  /* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(left, #ED8F03, #FFB75E);
background: linear-gradient(to right, #ED8F03, #FFB75E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.prediction{
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  border-right: 1.2px groove #ED8F03;
}
.lucky-number{
  border-left: 1.2px groove #ED8F03;
}

p.disNum{
  font: 600 80px chatfont5;
  color: #7a5700;
  text-shadow: 0 0 4px #ffce58;
}
p.disLuckyNum {
  font: 600 80px chatfont5;
  color: #c0ff07;
  text-shadow: 0 0 2px #001604;
}

.sliderRangeInput {
  display: block;
  position: absolute;
  width: 80%;
  top: calc(50% - 40px);
  left: 10%;


}
span.leftMark{
  position: absolute;
  left: -20px;
  bottom: -5px;
  color: #000;
}
span.rightMark{
  position: absolute;
  right: -25px;
  bottom: -5px;
  color: #000;
}

input[type='range'] {
  -webkit-appearance: none;
  background: -webkit-linear-gradient(left, #33f300 0%, #33f300 50%, #d20d12 50%, #d20d12 100%);
  background: linear-gradient(to left, #33f300 0%, #33f300 50%, #d20d12 50%, #d20d12 100%);
}

input[type='range']::-webkit-slider-runnable-track {
  height: 12px;
  -webkit-appearance: none;

  box-shadow: 0 0 4px 8px rgba(0, 0, 0, 0.4);
}


input[type='range']::-webkit-slider-thumb {
  margin-top: -15px;
  width: 40px;
  -webkit-appearance: none;
  height:40px;
  border-radius: 25px;
  box-shadow: 0 0 3px 8px rgba(0, 0, 0, 0.5);
  cursor: -webkit-grab;
  cursor: grab;
  background-image: url(../images/track.png);
  background-position: center;
  background-size: 100%;
}
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.middle-bottom{
  height: 50%;
  background: #ffb347;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #ffcc33, #ffb347);  /* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(top, #ffcc33, #ffb347);
background: linear-gradient(to bottom, #ffcc33, #ffb347); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.myTrxBal,.MinedBal{
  position: relative;
  display: block;
  width: 45%;
  float: left;
  word-break: normal;
}
.myTrxBal,.MinedBal > p{
  margin-top: 6px;
  margin-left:5%;
  text-align: left;
  color: #000;
  font: 400 15px/18px chatfont4;
}
.balOnWin{
  position: absolute;
  display: block;
  visibility: hidden;
  top: -20px;
  left: 25%;
  font: 400 14px/16px popfont1;
  text-shadow: 0 1px 1px #000;
  color: rgb(84, 240, 84);
  -webkit-animation: slideDown 1s linear;
          animation: slideDown 1s linear;
}
@-webkit-keyframes slideDown {
  from {
    top: -40px;
    visibility: visible;
  }
  to {
    top: -10px;
    visibility: hidden;
  }
}
@keyframes slideDown {
  from {
    top: -40px;
    visibility: visible;
  }
  to {
    top: -10px;
    visibility: hidden;
  }
}
.balDeduct{
  position: absolute;
  display: block;
  visibility: hidden;
  top: -20px;
  left: 25%;
  font: 400 14px/16px popfont1;
  text-shadow: 0 1px 1px #000;
  color: #ff006c;
  -webkit-animation: goUp 3s linear;
          animation: goUp 3s linear;
}
@-webkit-keyframes goUp {
  0%{
    top: -5px;
  }
  66% {

    visibility: visible;
  }
  100% {
    top: -40px;
    visibility: hidden;
  }
}
@keyframes goUp {
  0%{
    top: -5px;
  }
  66% {

    visibility: visible;
  }
  100% {
    top: -40px;
    visibility: hidden;
  }
}
.OnbetInfo{
  display: block;
  position: relative;
  width: 100%;
  margin-top: 0;
  margin-left: 5%;
}
.mulOnBet,.winChance,.mineOnBet{
  margin-top: 10px;
  display: block;
  position: relative;
  float: left;
  width: 30%;
  background: rgba(0, 0, 0, 0.5);

}
.lower-left, .lower-right{
  position: relative;
  display:block;
  margin-top: 10px;
  float: left;
  text-align: left;
  padding-left: 10px;
}
.lower-left{
    width: 60%;
}
.lower-right{
  margin-top: 0;
    width: 40%;
}
.lower-left label{
  color: #000;
  font: 200 15px chatfont4;
}
.lower-left input{
  background: transparent;
  width: 90%;
  background-image: url(../images/tron.png);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  border: 3px groove #d57313;
  text-align: center;
  color: #641;
  font: 500 26px/40px chatfont5;
  box-shadow: inset 0 0 8px #d08619;

}
.Rolling-btn{
  background: #fc8f00;
  border: 3px groove #d57313;
  font: 300 18px/24px chatfont3;
  box-shadow: inset 0 0 8px #d08619;
  width: 80%;
}
.Rolling-btn:hover{
  font: 500 18px/24px chatfont5;
  text-shadow: 0 1px 1px #000;
}
.Rolling-btn:disabled{
  background: #d08619;
}

.lower-right a{
  position: relative;
  display: block;
  color: #fff;
  text-shadow: 0 1px 1px #000;
  word-break: keep-all;
  margin-left: 0;
  font-size: 12px;
  float: right;
  margin-right: 40px;
}
.right-side{
  float: right;
width: calc(25% - 2px);
background: #ffe259;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(right, #ffa751, #ffe259);
background: linear-gradient(to left, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.right-body {
  display: block;
  position: relative;
  height: 100%;
  overflow-y: scroll;
}

.right-body tr{
  border-bottom: 2px groove #888;
  box-shadow: inset 0 0 8px #000;

}
.right-body th{
  text-align: center;
  color: #462b06;
  font: 600 16px/18px chatfont5;
}
.right-body td{
  color: #462b06;
  font: 400 14px chatfont3;
  border: none !important;
}
.right-body tr::before{
  border: 5px solid red !important;
}

.bottom-panel{
  position: relative;
  display: block;
  width: calc(75% - 3px);
  margin-left: 1.5px;
  float: right;
  text-align: center;
  background: #FF8C00;

}

ul.bottom-panel-head-list{
  margin: 0;
  background: #ffae11;
  background: -webkit-linear-gradient(left, #ff6511, #ffae11,#ff6511);
  background: linear-gradient(to right, #ff6511, #ffae11,#ff6511);
}
.bottom-panel-head-list li{
  display: inline-block;
  margin: 5px 10px;
  font-size: 20px;
  color: #000;
  cursor: progress;
  text-shadow: 0 1px 1px #ff6511;
}

td.chopCell {
  max-width: 100px;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

table.bettingHistory td,
th {
  border: none !important;
  font: 400 15px chatfont3;
  color: #352215;
  margin: 0;
  padding: 0;
  margin-right: 0 !important;
  padding-right: 0!important;
  font: 400 12px popfont1;
}
td a{
  color: #000;
}
td a:hover{
  color: #444;
}
td.greenCell {
  color: #33f300 !important;
  text-shadow: 0 0 2px #777;
}
td.redCell {
  color: #d20d12 !important;
  text-shadow: 0 0 2px #555;
}
table.bettingHistory tr td{
  margin-right: 0 !important;
  padding-right: 0!important;
  text-align: left;

}
table.bettingHistory tr th{
  background: #D38312;  /* fallback for old browsers */
}
table.bettingHistory tr:nth-child(even) {
  background: #d99b20;
}

table.bettingHistory tr:nth-child(odd) {
  background: #af7614;
}
table.bettingHistory tr th:nth-of-type(3){
  text-overflow: clip;
  overflow: hidden;
  max-width: 10vw;
}
table.bettingHistory tr td:nth-of-type(5){
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 0 !important;
  padding-right: 0!important;
}
.allbets{display: none;}
.myBets{display: none;}
.custombets{display: none;}
.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; background: #ff6511 !important;}


/*******************************************************************************/
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
li.chat-icon{visibility: hidden; width: 0;}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
li.trophy-icon{visibility: hidden; width: 0;}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .left-side{width: 33vw;}
  .middle-side{margin-left: 33%; margin-right: 0;width: 67%;}
  .right-side{
    display: none;
    z-index: 2;
    top: 50px;
    position: fixed;
    right: 0;
    width: 80%;
    height: calc(100vh - 50px);
  }
  .bottom-panel{margin-left: 33%;width: 67%; margin: 0;}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .left-side{
    display: none;
    z-index: 2;
    width: 80%;
  }

  .middle-side{margin-left: 0%;width: 100%;}
  .bottom-panel{margin-left:0;width: 100%;}
  ul.barsIcon li.bar-icon{visibility: visible;}


}
ul.nav-list li:nth-of-type(1)::after{
  content: ' HOUSE';

}
ul.nav-list li:nth-of-type(2)::after{
  content: ' PROFILE';
}
ul.nav-list li:nth-of-type(3)::after{
  content: ' STAKE';
}
ul.nav-list li:nth-of-type(4)::after{
  content: ' RANK';
}
ul.nav-list li:nth-of-type(5)::after{
  content: ' INFO';
}
ul.nav-list li:nth-of-type(6)::after{
  content: ' Drop';
}

ul.nav-list li:nth-of-type(7)::after{
  content: ' CHAT';
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  ul.nav-list li::after{
    font: 400 18px chatfont4;
    left: -33%;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  ul.nav-list li::after{
    font: 400 14px chatfont4;
  }
}
/* setting side nav */
@media only screen and (max-width : 768px) {
  ul.nav-list{

    position: fixed;
    display: none;
    left: -10%;;
    top: 50px;
    padding-top: 10px;
    height: calc(100vh - 50px);
    width: 60%;
    background: #56380a;
  }
  ul.nav-list li{
    display: block;

  }

  ul.nav-list li::after{
    font: 400 22px chatfont4;
  }

}
@media only screen and (min-width : 768px) {
  ul.nav-list li{
    margin-top: 0;
    margin-bottom: 0;
    font: 400 30px chatfont4;
  }
  ul.nav-list li::after{
    font: 400 12px chatfont4;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  ul.nav-list li{
    left: -15%;
    font: 400 18px chatfont4;
  }
  ul.nav-list li::after{
    font: 400 18px chatfont4;

  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  ul.nav-list li{
    left: -20%;
    font: 400 14px chatfont4;
  }
  ul.nav-list li::after{
    font: 400 14px chatfont4;
  }
}

.info-trc10{
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  height: 10px;
}

.info-trc10-head{
  position: absolute;
  display: block;
  z-index: 1;
  margin-left: 100%;
  overflow-x:hidden;
  -webkit-animation: infoRoller 10s linear 2;
          animation: infoRoller 10s linear 2;
}
.info-trc10-head p{
  color: #000;
  text-shadow: 1px 1px 1px #ccc;
  margin:0 5px;
  overflow: hidden;
  white-space: nowrap;
}
.info-trc10-head a{
  color: #000;
  text-shadow: 0 0 1px #d20d12;
}

@-webkit-keyframes infoRoller {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -100%;
    overflow-x: hidden !important;
  }
}

@keyframes infoRoller {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -100%;
    overflow-x: hidden !important;
  }
}

/**************/
/* lower panel*/
.terms-info-section{
  background: #F2994A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(right, #F2C94C, #F2994A);
  background: linear-gradient(to left, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 15px 10px;
  margin-top: -20px;
}
.terms-info-section p,.terms-info-section h4{
  color: #0b0c22;
  text-shadow: 0 0 0.3px #ddd;
}

ul.social-links li{
  display: inline-block;
  position: relative;
  font: 600 20px popfont1;
  margin: 0 5px;
  padding: 6px;
  height: 35px;
  width:35px;
  background: #ddd;
  border-radius: 50%;

}
ul.social-links li:nth-of-type(1){
  margin-left: -35px;
}
.terms-info-section span{
  display: block;
  position: relative;
  color: #0b0c22;
}

a.redirect-trcdice{
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 10px;
  cursor: pointer;
  width: 80%;
  background: #d08619;
  padding: 4px;
  color: #0b0c22;
  text-shadow: 0 0 1px #888;
  font: 600 16px popfont1;
  border-radius: 3px;
  box-shadow: inset 0 0 4px #0b0c22;
  border: 1px groove #0b0c22;
}
ul.middle-side-list{
  position: absolute;
  display: block;
  top: 15%;
  left: -40px;
  z-index: 1;


}
ul.middle-side-list li{
  padding: 6px;
  background: #ffae11;
  background: -webkit-linear-gradient(left, #ff6511, #ffae11,#ff6511);
  background: linear-gradient(to right, #ff6511, #ffae11,#ff6511);
  box-shadow: inset 0 0 9px #000;
  border-radius: 0 5px 5px 0;
  border: 1px groove #000;
  font: 600 35px popfont1;
  margin-bottom: 10px;
  list-style-type: none;
}
ul.middle-side-list li a{
  color: #0b0c22;
  text-shadow: 0 0 8px #fff;
}

.rankingBody th a{
  color: #fff;
  text-shadow: 0 1px 2px #000;
  cursor: pointer;
}

/*******homeToggler*********/
.homeToggler,.infoToggler{
  position: absolute;
  display: none;
  z-index: 2;
  background: #d18034;
  border: solid 2px #824e1d;
  border-top: none;
  margin-left: calc(230px + 10%);
  margin-top: 50px;
  box-shadow: inset 0 0 6px #000;
}
.infoToggler{
  margin-left: calc(430px + 10%);
}
.homeToggler ul,.infoToggler ul{
  display: block;
  position: relative;
  text-align: left;
  padding: 0;
  margin: 0;
  font: 400 15px/22px chatfont3;
}
.homeToggler ul li,.infoToggler ul li{
  list-style-type: none;
  padding: 6px 25px;
  cursor: pointer;
}
.homeToggler ul li a,.infoToggler ul li a,.infoToggler ul li{
  color: #fff;
  text-shadow: 0 0 3px #222;
}
.infoToggler ul li:hover{
  text-shadow: 0 0 3px #666;
}
.homeToggler ul span{
  margin: 10px 5px;
  color: #dbd8d2;
  text-shadow: 0 0 1px #867d6c;
  border-bottom: 2px groove #867d6c;
}
@media only screen and (max-width : 768px){
  .homeToggler,.infoToggler{
    margin-left: 60%;
  }
}
