
.main-game-panel img{
  position: absolute;
  display: block;
  z-index: 1;
  left: calc(50% - 35px);
  width: 70px;
  top: 5px;

}
.main-game-panel img.start-spining{
  animation: tickle 1s infinite ease-in-out;
}
@keyframes tickle {
  0%{
    transform: rotate(0);
  }
  25%{
    transform: rotate(25deg);
  }
  50%{
    transform: rotate(0);
  }
  75%{
    transform: rotate(-25deg);
  }



}
td span{
  position: relative;
  height: 25px;
  width: 25px;
}

td span.GREY.forHeart:before,td span.GREY.forHeart:after,td span.GREY.forbox,td span.GREY.foregg{
  background: var(--grey-for-span);
}
td span.BLUE.forHeart:before,td span.BLUE.forHeart:after,td span.BLUE.forbox,td span.BLUE.foregg{
  background: var(--blue-for-span);
}
td span.GREEN.forHeart:before,td span.GREEN.forHeart:after,td span.GREEN.forbox,td span.GREEN.foregg{
  background: var(--green-for-span);
}
td span.RED.forHeart:before,td span.RED.forHeart:after,td span.RED.forbox,td span.RED.foregg{
  background: var(--red-for-span);
}

td span.forHeart:before,td span.forHeart:after {
    content: "";
    width: 15px;
    height: 25px;
    position: absolute;
    left: 15px;
    top: 0;
    -webkit-border-radius: 50px 50px 0 0;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;

}

td span.forHeart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;

}

td span.forbox{
  display: block;
  position: relative;
  height: 25px;
  width: 25px;
  border: 2px groove var(--mainpanel-col);
  box-shadow: inset 0 0 4px #000;
}
td span.foregg{
  display: block;
  position: relative;
  height: 25px;
  width: 18px;
  box-shadow: inset 0 0 4px #000;
  -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}
td span.forstar{
  position: relative;
  display: block;
  width: 0;
  height: 0;
  margin: 7px 4px;
  color: #fc2e5a;

    border-right: 10px solid transparent;
    border-bottom: 7px solid #fc2e5a;
    border-left: 10px solid transparent;
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
}
td span.forstar:before {
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    top: -6px;
    left: -7px;
    border-bottom: 8px solid #fc2e5a;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    content: '';
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
}

td span.forstar:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    display: block;
    top:0;
    left: -10px;
    color: #fc2e5a;
    border-right: 10px solid transparent;
    border-bottom: 7px solid #fc2e5a;
    border-left: 10px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
}
td span.GREY.forstar,td span.GREY.forstar:after,td span.GREY.forstar:before{
 color: var(--grey-for-span);
 border-bottom-color: var(--grey-for-span);
}
td span.BLUE.forstar,td span.BLUE.forstar:after,td span.BLUE.forstar:before{
 color: var(--blue-for-span);
 border-bottom-color: var(--blue-for-span);
}
td span.GREEN.forstar,td span.GREEN.forstar:after,td span.GREEN.forstar:before{
 color: var(--green-for-span);
 border-bottom-color: var(--green-for-span);
}
td span.RED.forstar,td span.RED.forstar:after,td span.RED.forstar:before{
 color: var(--red-for-span);
 border-bottom-color: var(--red-for-span);
}
